*{
    box-sizing:border-box;
}
header{
    text-align:center;
}
hr{
    width:40%;
    border:1px solid black;
}
button{
    width:50px;
    height:50px;
    background-color: white;
    border:3px solid #ccc;
}
.main{
    margin-top:15px;
}

.button{
    display:flex;
    justify-content: center;
    gap:15px;
    padding:10px;
    font-size:2rem;
}
.correct{
    background-color:green;
    border:none;
   color:white;
}
.wrong{
    background-color:#ccc;
    color:black;
    border:none;
}

.close{
    background-color:orange;
    color:white;
    border:none;
}
.hidden{
    visibility:hidden;
}
.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .visibility{
    display:none;
  }

.spiral{
    animation-name:spin;
    animation-iteration-count:infinite;
    animation-duration:2s;
    animation-timing-function:linear;
    font-size:2rem;
}
.winLose h2{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#1AACAC;
    animation-name:flash;
    animation-duration:0.7s;
    animation-timing-function: cubic-bezier(0,.92,1,-0.85);
    animation-delay:0s;
}
.newdiv{
    display:flex;
    justify-content: center;
    align-items:center;
}


@keyframes spin{
    to{
        transform:rotate(1440deg);
    }
}

@keyframes flash{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:1;
    }

}
